@import 'https://fonts.googleapis.com/css?family=Lato|Open+Sans';
body {
  font-family: "Open Sans";
}

header {
  display: flex;
  align-items: center;
  height: 56px;
  background-color: white;
  color: #404040;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

@media (max-width: 700px) {
  header {
    justify-content: center;
    font-size: 12px;
  }
  header h1 {
    flex-grow: 0;
    font-size: 1.75em;
  }
}

header h1 {
  float: left;
  display: inline;
  flex-grow: 1;
  padding-left: 10px;
  font-family: "Lato";
  text-transform: uppercase;
}

header nav {
  float: right;
}

@media (max-width: 700px) {
  header nav {
    display: none;
  }
}

header nav ul {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

header nav ul li {
  padding: 0 20px;
}

.header-fixed {
  position: fixed;
  top: 0;
}

.header-shadow {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
}

main {
  margin-top: 60px;
  clear: both;
  margin-left: 5%;
  margin-right: 5%;
}

.btn-navdrawer {
  background: 0;
  outline: 0;
  border: 0;
  display: none;
  align-items: center;
  padding-left: 16px;
}

@media (max-width: 700px) {
  .btn-navdrawer {
    display: flex;
  }
}

.navdrawer-open-shadow {
  background-color: rgba(0, 0, 0, 0.65);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  display: none;
  opacity: 0;
}

.navdrawer {
  color: #404040;
  display: none;
  z-index: 5;
  position: fixed;
  left: -320px;
  top: 0;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
}

.navdrawer .navdrawer-content {
  height: 100vh;
  background-color: white;
  width: 300px;
}

.navdrawer .navdrawer-content h1 {
  font-size: 1.5em;
  margin: 0;
  height: 56px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.navdrawer .navdrawer-content ul {
  padding: 0;
}

.navdrawer .navdrawer-content ul .nav-link {
  height: 48px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #404040;
  padding-left: 16px;
}

footer {
  background-color: #ccc;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
