@import 'base/variables';
@import 'base/typography';

body {
	font-family: $main-font;
}

header {
	display: flex;
	align-items: center;
	height: 56px;
	background-color: white;
	color: lighten(black, 25%);
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.14);

	@media (max-width: 700px) {
		justify-content: center;
		font-size: 12px;
		h1 {
			flex-grow: 0;
			font-size: 1.75em;
		}
	}

	h1 {
		float: left;
		display: inline;
		flex-grow: 1;
		padding-left: 10px;
		font-family: $header-font;
		text-transform: uppercase;
	}

	nav {
		float: right;

		@media(max-width: 700px) {
			display: none;
		}
	}

	nav ul {
		padding: 0;
		display: flex;
		align-items: center;
		list-style: none;

		li {
			padding: 0 20px;
		}
	}
}

.header-fixed {
	position: fixed;
	top: 0;
}

.header-shadow {
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06),0 4px 5px 0 rgba(0,0,0,0.06),0 1px 10px 0 rgba(0,0,0,0.08);
}
main {
	margin-top: 60px;
	clear: both;

	margin-left: 5%;
	margin-right: 5%;
}

.btn-navdrawer {
	background: 0;
	outline: 0;
	border: 0;
	display: none;
	align-items: center;
	padding-left: 16px;

	@media(max-width: 700px) {
		display: flex;
	}
}

.navdrawer-open-shadow {
	background-color: rgba(0,0,0,0.65);
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 4;
	display: none;
	opacity: 0;
}

.navdrawer {
	color: lighten(black, 25%);
	display: none;
	z-index: 5;
	position: fixed;
	left: -320px;
	top: 0;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06),0 4px 5px 0 rgba(0,0,0,0.06),0 1px 10px 0 rgba(0,0,0,0.08);

	.navdrawer-content {
		height: 100vh;
		background-color: white;
		width: 300px;
		// z-index: 6;

		h1 {
			font-size: 1.5em;
			margin: 0;
			height: 56px;
			border-bottom: 1px solid rgba(0,0,0,0.14);
			display: flex;
			align-items: center;
			padding-left: 10px;
		}

		ul {
			padding: 0;

			.nav-link {
				height: 48px;
				display: flex;
				align-items: center;
				text-decoration: none;
				color: lighten(black, 25%);
				padding-left: 16px;
			}
		}
	}
}

#contact {
	clear: left;
}

.fa {
	padding-right: 5px;
}

.project {
	clear: both;
	padding-bottom: 20px;
	height: auto;
	float: left;
	width: 100%;
	h2, p {
		// display: inline-block;
		// padding-left: 10px;
	}

	img {
		overflow: hidden;
		display: block;
		float: left;
		width: 50%;
		margin-right: 20px;
		margin-bottom: 1em;
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
		border-radius: 4px;

		@media(max-width: 700px) {
			width: 100%;
		}

	}

	.visitlink {
		display: block;
		width: 120px;
		padding: 10px 0;
		display: flex;
		justify-content: center;
		background-color: #673ab7;
		text-decoration: none;
		color: white;
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
		border-radius: 4px;
		@media(max-width: 700px) { width: 100%; }

		&:hover {
			box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
		}
	}
}

footer {
	background-color: #ccc;
	height: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}
